<div class="home-container">
  <div class="left-column">
    <img src="../../assets/cover.jpg" alt="" class="cover-image">
  </div>
  <div class="right-column">
    <div class="container">
    <p class="topic-1">Austin Grand Hotel</p>
    <p class="topic-2">LET'S FIND YOUR RESERVATION</p>
    <p class="topic-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
      literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
      College in Virginia, looked up one of the more obscure Latin words, consectetur</p>

    <button class="btn2">LEARN MORE</button>
  </div>
  </div>
</div>