
.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../../assets/logincover.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Prevents scrolling */
}

.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #d6ad60;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border-width: 5px;
}

h2 {
  text-align: center;
}

.fields {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #b68d40;
  color: white;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
}


.register{
  text-align: center;
  font-size: 14px;
}

.signup-link{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}