.main-bar {
    height: 10vh;
    background-color:#122620;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 5px 30px 5px 5px;

}

.image-logo {
    width: 50px;
    height: 50px;
}

.nav-items{
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    color: #b68d40; 
    transition: color 0.3s ease; /* Smooth transition for hover */
}

.nav-items p:hover {
    color: white; /* Change color to white on hover */
}

.nav-buttons{
    display: flex;
    gap: 20px;
    margin-right: 5px;
   
}

.btn1{
    width: 80px;
    height: 30px;
    cursor: pointer;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    background-color:#d6ad60 ;
    border: none; /* Removes the border */
   
}